@font-face {
    font-family: 'franklingothic-book';
    src: url('fonts/franklingothic-book-webfont.woff2') format('woff2'),
         url('fonts/franklingothic-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'franklingothic-demi';
    src: url('fonts/franklingothic-demi-webfont.woff2') format('woff2'),
         url('fonts/franklingothic-demi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
html {
	font: normal 100%/1.2 'franklingothic-book', 'Helvetica', Arial, sans-serif;
}

#bl-mkt-intro-container {
	background: #32C9F1;
	padding-top: 5rem;
}
#bl-mkt-logo {
	display: block;
	position: relative;
	z-index: 4;
	max-width: 115px;
	margin: 0 auto 20vh;
}
#bl-mkt-login {
	display: inline-block;
	position: absolute;
	top: 2rem;
	right: 2rem;
	z-index: 4;
	background: rgba(0,0,0,0.05);
	padding: .75rem 1.25rem;
	border: 1px solid #1BA9D0;
	border-radius: 3px;
	color: white;
	line-height: 1;
	text-decoration: none;
}
#bl-mkt-login:active {
	background: rgba(0,0,0,0.075);
	color: rgba(255,255,255,0.75);
}
/*#bl-mkt-login:focus {
	border-color: #1397BB;
}*/

#bl-mkt-main {
	position: relative;
	/*background: url(back-image.png) no-repeat top center;*/
	/*background-size: 900px;*/
	/*padding-top: 400px;*/
	/*max-width: 500px;
	margin: auto;*/
	/*padding: 0 1.5rem;*/
	padding-bottom: 4rem;
	color: white;
	text-align: center;
}
/*#bl-mkt-main:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	background: #32C9F1;
	background: linear-gradient(to bottom, rgba(50,201,241, 0) 0%, rgba(50,201,241, 0.7) 50%, #32C9F1 100%);
	content: "";
}*/
#bl-mkt-main:after {
	display: block;
	position: absolute;
	top: -5rem;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	background: url(back-image.png) no-repeat top center;
	background-size: 900px;
	content: "";
}
#bl-mkt-main * {
	position: relative;
	z-index: 3;
}
#bl-mkt-main-header {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'franklingothic-demi', 'Helvetica', Arial, sans-serif;
	font-size: 50px;
	font-weight: 400;
	line-height: 1.1;
	/*text-shadow: 0 1px 1px #1BA9D0;*/
}
#bl-mkt-main-sub {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.25rem;
	margin-bottom: 4.5rem;
	font-size: 24px;
	line-height: 1.2;
	/*text-shadow: 0 1px 1px #1BA9D0;*/
}
#bl-mkt-form {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
#bl-mkt-email-title {
	display: block;
	margin-bottom: .75rem;
	/*color: rgba(255,255,255,0.85);*/
	text-align: left;
	/*text-shadow: 0 1px 1px #1BA9D0;*/
}
#bl-mkt-email-lbl {
	float: left;
	width: calc(65% - .5rem);
}
#bl-mkt-email {
	display: block;
	width: 100%;
	outline: none;
	background: white;
	padding: 1rem 1.25rem;
	border: 1px solid #1BA9D0;
	border-radius: 3px;
	font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	-webkit-appearance: none;
}
#bl-mkt-email:focus {
	border-color: #07526F;
	box-shadow: 0 0 0 1px #07526F, 0 0 0 3px rgba(0,0,0,0.075);
}
#bl-mkt-submit {
	display: block;
	float: right;
	width: calc(35% - .5rem);
	outline: none;
	background: #07526F;
	padding: 1rem 1.25rem;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	font-family: inherit;
	font-size: 20px;
	/*line-height: 1;*/
}
#bl-mkt-submit:focus {
	box-shadow: 0 0 0 2px rgba(0,0,0,0.125);
}
#bl-mkt-submit:active {
	background: #043B4F;
	color: rgba(255,255,255,0.75);
}

#bl-mkt-more-wrapper {
	/*display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 2rem 0;*/
	/*background: white;
	padding: 2rem 0;*/
}
#bl-mkt-more {
	display: block;
	background: white;
	margin: 3rem 0 0;
	padding: 1rem 0;
	color: #32C9F1;
	text-align: center;
}
@media screen and (max-width: 560px) {
	#bl-mkt-header {
		margin-bottom: 3rem;
		padding: 1.5rem;
	}
	#bl-mkt-intro-container {
		padding-top: .5rem;
	}
	#bl-mkt-logo {
		margin: 0;
	}
	#bl-mkt-login {
		top: 1.5rem;
		right: 1.5rem;
	}
	#bl-mkt-main {
		padding: 0 1.5rem;
		text-align: left;
	}
	#bl-mkt-main:after {
		background-position: top left;
		background-size: 800px;
	}
	#bl-mkt-main-header {
		font-size: 40px;
	}
	#bl-mkt-main-sub {
		margin-bottom: 3rem;
	}
	#bl-mkt-form {
		margin-bottom: 3rem;
	}
	/*#bl-mkt-email-title {
		display: none;
	}*/
	#bl-mkt-email-lbl,
	#bl-mkt-submit {
		float: none;
		width: 100%;
	}
	#bl-mkt-submit {
		margin-top: 1rem;
		font-family: 'franklingothic-demi', 'Helvetica', Arial, sans-serif;
	}
	/*#bl-mkt-more-wrapper {
		position: static;
	}*/
	#bl-mkt-more {
		/*display: block;
		margin-bottom: 1.5rem;
		padding: 1rem .5rem;
		text-align: center;*/
		margin-left: -1.5rem;
		margin-right: -1.5rem;
	}
}

@media screen and (max-height: 540px) {
	#bl-mkt-main-header {
		font-size: 32px;
	}
	#bl-mkt-main-sub {
		font-size: 20px;
	}
}

@media screen and (min-height: 600px) {
	#bl-mkt-intro-container {
		position: relative;
		height: 900px;
		max-height: 100vh;
	}
}

@media screen and (min-width: 700px) and (min-height: 650px) {
	#bl-mkt-main {
		position: absolute;
		bottom: 0;
		left: 0;
		max-height: 800px;
		max-width: 100%;
		width: 100%;
		/*padding: 0;*/
		padding: 6rem 3rem 0;
	}
	#bl-mkt-main:after {
		top: 0;
	}
	#bl-mkt-main-header,
	#bl-mkt-main-sub {
		max-width: 100%;
		margin-left: inherit;
		margin-right: inherit;
	}
	#bl-mkt-form {
		max-width: 500px;
		margin: auto;
	}
	.bl-mkt-br {
		display: block;
	}
	#bl-mkt-more {
		margin-top: 4rem;
		margin-left: -3rem;
		margin-right: -3rem;
	}
}

@media screen and (min-width: 1100px) {
	#bl-mkt-main {
		max-width: 100%;
		padding-top: 10rem;
	}
	#bl-mkt-form {
		max-width: 500px;
		margin: auto;
	}
	.bl-mkt-br {
		display: inline;
	}
}